__pycache__/
*.py[cod]
.env
.venv/
venv/
keys/
airflow.db
airflow.cfg
logs/
*.log
*.pem
*.key
.DS_Store
dbt/weather_analytics/profiles.yml
dbt/weather_analytics/target/
dbt/weather_analytics/.user.yml
bi/.~*